<tr class="deleteMe-<%= mail.id %> mails-object-list">
  <td>
    <%= link_to mail_path(mail), remote: true do %>
      <li style="font-weight: bold;" id="mail-<%= mail.id %>">
        <%= @mail.object %>
      </li>
      <% end %>
  </td>
</tr>