<div id="mail-body" class="deleteMe">
  <p><%= @mail.body %></p>
</div class="position-sticky">

  <%= link_to mail_path(@mail), :method => :delete, remote: true do %>
    <button type="button" class="btn btn-danger deleteMe">ʕノ•ᴥ•ʔノ ︵ ┻━┻</button>
  <% end %>

  <%= link_to unread_path(@mail), :method => :post, remote: true do %>
    <button type="button" class="btn btn-success deleteMe">┬─┬ ノʕ•ᴥ•ノʔ </button>
  <% end %>

<div>