console.log('/views/mails/destry.js.erb    .deleteMe-42')
console.log($('.deleteMe-<%= @mail.id %>'))

$('a[href="/mails/<%= @mail.id %>"')[0].remove()

// Object + button
$('.deleteMe').remove()

// Cells (tr)
$('.deleteMe-<%= @mail.id %>').remove()
