


<div class="container">
<br>

  <%# NEW FRIEND %>
  <%= link_to mails_path, :method => :post, remote: true do %>
    <button type="button" class="btn btn-outline-primary btn-block">ʕつ ͡°ᴥ ͡°ʔつ</button>
  <% end %>
  <br>

  <%# GOODBYE %>
  <%= link_to goodbye_path, :method => :post, remote: true do %>
    <button type="button" class="btn btn-outline-danger btn-block">ʕ╥ ᴥ ╥ʔ</button>
  <% end %>
  <br><br>


  <div class="row">
    <div class="col-4">

      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col" class="text-center">ˁ˚ᴥ˚ˀ</th>
          </tr>
        </thead>
        <tbody id="mails-object-list">

        <% @mails.each do |mail| %>
          <tr class="deleteMe-<%= mail.id %>">
            <td class="goodByeFriends">
              <%= link_to mail_path(mail), remote: true do %>
                <% if mail.read == false %>
                  <li style="font-weight: bold;" id="mail-<%= mail.id %>">
                    <%= mail.object %>
                  </li>
                <% else %>
                  <li style="font-weight: normal; opacity: 0.4" id="mail-<%= mail.id %>">
                    <%= mail.object %>
                  </li>
               <% end %>
            </td>
          </tr>
          <% end %>
        <% end %>

        </tbody>
      </table>
    </div>


    <div class="col-8">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"><p class="text-center" style="margin-bottom: 0px">ˁ(OᴥO)ˀ</p></th>
          </tr>
        </thead>
        <tbody>
          <tr id="mail-body">
            <td>
            <%# MAIL BODY HERE %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
