document.getElementById("mail-body").innerHTML="<%= j render 'show', mail: @mail %>"

console.log($('#mail-<%= @mail.id %>').get(0))

$('#mail-<%= @mail.id %>').get(0).style.opacity = "0.4"
$('#mail-<%= @mail.id %>').get(0).style.fontWeight = "normal"

