$(document).ready(function() {

  // 1) Via [0]
  let mailId = $('#mail-<%= @mail.id %>')
  // mailId[0].style.opacity = "1"



  // 2) Via .get(0)
  $('#mail-<%= @mail.id %>').get(0).style.opacity = "1"
  $('#mail-<%= @mail.id %>').get(0).style.fontWeight = "bold"





  // Debug
  console.log('/views/mails/unread.js.erb  1) [0]    2) .get(0) ')
  
  // 1)
  console.log(mailId[0])

  // 2)
  console.log($('#mail-<%= @mail.id %>').get(0))
  })