<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<%= render 'layouts/task_form'  %>
<div class="container">
  <ul>
  <% @categories.each do  |category|%>
  <li><%= category.title  %></li>
  <div class="card">
    <ul id="card-<%= category.title.downcase.gsub(/[\/ ]/, "-") %>">
      <% category.tasks.each do |task|  %>
      <li id="putainDId">
        <%= task.title  %>
        <% unless task.deadline.nil? %>
          , to read: <%= task.deadline.strftime('%D')  %> 

            <%# data: {:confirm => 'Are you sure?'}, %>
          <%= link_to task_path(task), :method => :delete, remote: true do %>
            <i class="fa fa-trash"></i>
          <% end %>
          
          <%# https://github.com/rails/jquery-ujs/issues/440 %>
          <%= 
          check_box_tag( 'completedTask',
                         '1',
                         task.status,
                         data: {
                           remote: true,
                           url: task_path(task),
                           params: {
                             id: task.id,
                             status: true
                           }.to_param,
                          method: 'put' 
                         } 
          ) %>
           
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
  <% end %>
  </ul>
</div>

<div class="container">
  <div class="row">
    <% @tasks.each do |task|  %>
      <div class="card col-3">
        <% unless task.image.nil? %>
          <%= image_tag task.image, class: "rounded-circle" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
